[submodule "api/account"]
	path = api/account
	url = https://github.com/gustavoribolla/api.account.git
[submodule "api/account-service"]
	path = api/account-service
	url = https://github.com/gustavoribolla/api.account_service.git
[submodule "api/auth"]
	path = api/auth
	url = https://github.com/gustavoribolla/api.auth.git
[submodule "api/auth-service"]
	path = api/auth-service
	url = https://github.com/gustavoribolla/api.auth_service.git
[submodule "api/gateway-service"]
	path = api/gateway-service
	url = https://github.com/gustavoribolla/api.gateway_service.git
[submodule "api/exchange-service"]
	path = api/exchange-service
	url = https://github.com/gustavoribolla/api.exchange_service.git
[submodule "api/product"]
	path = api/product
	url = https://github.com/gustavoribolla/api.product.git
[submodule "api/product-service"]
	path = api/product-service
	url = https://github.com/gustavoribolla/api.product_service.git
[submodule "api/order"]
	path = api/order
	url = https://github.com/gustavoribolla/api.order.git
